<form name="form" [formGroup]="form" fxLayout="column" class="w-100-p">
  <mat-form-field fxFlex="100">
    <input matInput placeholder="Student ID" class="w-100-p" formControlName="studentId" (focusout)="formChange()">
    <mat-error *ngIf="formErrors.id.required">
      required
    </mat-error>
  </mat-form-field>
  <mat-accordion [multi]="true">
    <mat-expansion-panel
      *ngFor="let question of questions;"
      class="mb-16"
      [expanded]="answers[question.id].expand"
      (opened)="open(question.id)"
      (closed)="close(question.id)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Question {{question.key}}
        </mat-panel-title>
        <mat-panel-description>
          {{question.question}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div fxLayout="column" fxLayoutAlign="start start" class="w-100-p">
        <mat-form-field *ngIf="showStudentScore">
          <input
            type="number"
            matInput
            placeholder="Score"
            [(ngModel)]="answers[question.id].score"
            [ngModelOptions]="{standalone: true}"
            (focusout)="formChange()">
        </mat-form-field>
        <mat-form-field class="w-100-p">
          <textarea
            matInput
            placeholder="Student answer"
            mat-autosize="true"
            [(ngModel)]="answers[question.id].answer"
            [ngModelOptions]="{standalone: true}"
            (focusout)="formChange()"></textarea>
        </mat-form-field>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</form>
