<div class="h-100-p w-100-p p-16" fxLayout="column" fxLayoutAlign="start start">
  <app-form-container
    title="Student"
    [index]="i"
    [showAction]="student.id === (selected | async)"
    class="w-100-p"
    (add)="add()"
    (delete)="delete(student.id)"
    (click)="selectStudent(student.id)"
    *ngFor="let student of students | async; let i = index">
    <app-student-form
      [student]="student"
      [questions]="questions | async"
      (dataChange)="formChange($event)"
      class="w-100-p"></app-student-form>
  </app-form-container>
</div>
