<div class="h-100-p w-100-p p-16" fxLayout="column" fxLayoutAlign="start start">
  <app-form-container
    title="Question"
    [index]="i"
    [showAction]="question.id === (selected | async)"
    class="w-100-p"
    (add)="add()"
    (delete)="delete(i)"
    (click)="selectQuestion(question.id)"
    *ngFor="let question of questions | async; let i = index">
    <app-question-form
      [question]="question"
      (dataChange)="formChange($event)"
      class="w-100-p"
    ></app-question-form>
  </app-form-container>
</div>
