mat-card{
  cursor: pointer;
  .highlight-number {
    font-size: 4.2rem;
    font-weight: 100;
    margin: 0;
    .percent {
      font-size: 2rem;
    }

  }

  .sub-highlight-number {
    font-size: 3.5em;
    font-weight: 200;
    .percent {
      font-size: 1em;
    }
  }
}

.selected-true {
  background: rgba(0, 0, 0, 0.15);
}

.point-disable {
  cursor: not-allowed;
}

.card {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12)
}

.load-spinner {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.container-spinner {
  position: relative;
}
