<mat-card
  [className]="model?.ready ? 'w-100-p p-0 mb-16  container-spinner mat-ripple card' : 'w-100-p p-0 mb-16  container-spinner point-disable card'"
  [ngStyle]="{'background': getBackGround(selected, model?.ready)}"
  (click)="select(model)"
  fxLayout="row"
  fxLayoutAlign="start center">
  <div fxFlex="50" class="p-24">
    <div *ngIf="!model?.ready">
      <mat-spinner class="load-spinner"></mat-spinner>
    </div>
    <mat-card-header>
      <mat-card-title>{{model?.title}}</mat-card-title>
      <!--<mat-card-title>{{mm.name}}</mat-card-title>-->
    </mat-card-header>
    <mat-card-content class="m-0" fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="70">
        <div fxLayout="column" fxLayoutAlign="center center">
          <!--<h3 class="m-0 sub-highlight-number">120</h3><mat-card-subtitle>Data</mat-card-subtitle>-->
        </div>
      </div>
    </mat-card-content>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex fxLayoutGap="16px" class="pr-16">
    <div fxLayoutAlign="center center" fxLayout="column" fxFlex="auto">
      <span class="highlight-number">{{model?.confidence * 100 | number : '1.2-2'}}<span class="percent">%</span></span>
      <!--<span class="highlight-number">64<span class="percent">%</span></span>-->
      <mat-card-subtitle>R Squared</mat-card-subtitle>
    </div>
    <div fxLayoutAlign="center center" fxLayout="column" fxFlex="auto">
      <span class="highlight-number">{{model?.accuracy * 100 | number : '1.2-2'}}<span class="percent">%</span></span>
      <!--<span class="highlight-number">49<span class="percent">%</span></span>-->
      <mat-card-subtitle>Accuracy</mat-card-subtitle>
    </div>
  </div>
</mat-card>
