mat-card{
  cursor: pointer;
  box-shadow: none !important;
  background: transparent;

  .highlight-number {
    font-size: 2rem;
    font-weight: 100;
    margin: 0;
    .percent {
      font-size: 1rem;
    }

  }

  .sub-highlight-number {
    font-size: 1em;
    font-weight: 200;
    .percent {
      font-size: 1em;
    }
  }
}
