<div class="m-48">
  <mat-card>
    <mat-horizontal-stepper [linear]="true" #stepper>
      <mat-step>
        <ng-template matStepLabel>Model</ng-template>
        <app-model-page></app-model-page>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Test</ng-template>
        <mat-tab-group>
          <mat-tab label="Question">
            <ng-template matTabContent>
              <app-question-form-page></app-question-form-page>
            </ng-template>
          </mat-tab>
          <mat-tab label="Student">
            <ng-template matTabContent>
              <app-student-form-page></app-student-form-page>
            </ng-template>
          </mat-tab>
        </mat-tab-group>

      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Result</ng-template>
        You are now done.
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card>
</div>


