<form fxLayout="column" class="w-100-p">
  <mat-form-field fxFlex="100">
    <input matInput placeholder="Student ID" class="w-100-p" value="57090010">
    <mat-error *ngIf="formErrors?.name.required">
      required
    </mat-error>
  </mat-form-field>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Question 1
        </mat-panel-title>
        <mat-panel-description>
          ab'+b
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div fxLayout="column" fxLayoutAlign="start start" class="w-100-p">
        <mat-form-field>
          <input type="number" matInput placeholder="Score">
        </mat-form-field>

        <mat-form-field class="w-100-p">
          <textarea matInput placeholder="Student answer" mat-autosize="true"></textarea>
        </mat-form-field>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</form>
