<div class="h-100-p w-100-p p-24" fxLayout="column" fxLayoutAlign="start start">
  <mat-card class="w-100-p p-0 mb-16 mat-ripple" mat-ripple fxLayout="row" fxLayoutAlign="start center" *ngFor="let n of [1,2,3,4,5,6,7,8,9,10]">
    <div fxFlex="50" class="p-24">
      <mat-card-header>
        <mat-card-title>Name</mat-card-title>
        <mat-card-subtitle>name last at 01 june 2018</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="m-0" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="70">
          <div fxLayout="column" fxLayoutAlign="center center">
            <h3 class="m-0 sub-highlight-number">120</h3><mat-card-subtitle>Data</mat-card-subtitle>
          </div>
        </div>
      </mat-card-content>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
      <div fxLayoutAlign="center center" fxLayout="column" fxFlex="auto">
        <span class="highlight-number">60<span class="percent">%</span></span>
        <mat-card-subtitle>R Squared</mat-card-subtitle>
      </div>
      <div fxLayoutAlign="center center" fxLayout="column" fxFlex="auto">
        <span class="highlight-number">60<span class="percent">%</span></span>
        <mat-card-subtitle>Accuracy</mat-card-subtitle>
      </div>
    </div>
  </mat-card>
</div>
